<div class="c-button">
  <button class="c-button__button">
    <!-- <span class="c-button__angle-right">
      <i class="btr bt-angle-right"></i>
    </span> -->
    <div class="c-button__text">Read more</div>
  </button>
</div>
