<footer class="c-footer">
  <div class="o-wrapper-large">
    <div class="c-footer__content">
      <p class="u-margin-bottom-tiny">&copy; {{ "now"|date("Y") }} The Neighbourhood Design Ltd</p>
      <p>Website by <a href="c-button__button" target="_blank">The Neighbourhood</a></p>
    </div>
  </div>
</footer>
