<footer class="c-footer">
  <div class="o-wrapper-large">
    <div class="c-footer__content">
      <div>&copy; {{ "now"|date("Y") }} The Neighbourhood Design Ltd</div>
      <div>Website by <a href="c-button__button" target="_blank">The Neighbourhood</a></div>
    </div>
  </div>
</footer>
