<header class="c-header">
  <div class="o-wrapper-large">
    <div class="c-header__content">
      <a href="/" class="c-header__logo-link">
        <svg width="214px" height="20px" viewBox="0 0 214 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="26" font-family="CircularStd-Medium, Circular Std" font-weight="400">
            <text id="Unknown-Records" fill="#262626">
              <tspan x="-1.147" y="19">Unknown Records</tspan>
            </text>
          </g>
        </svg>
      </a>
      {% include '_components/primary-nav' %}
    </div>
  </div>
</header>
