/* =======================
   Components/Buttons
   ======================= */
.c-button {
  text-align: center;

  @include mq($from: desktop) {
    text-align: left;
  }
}

  .c-button__link {
    background-color: color(black);
    border: 2px solid color(black) !important;
    color: color(white);
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    outline: none;
    padding: 10px $unit-large;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
    width: 100%;
    @include font-family(bold);
    @include font-size(14px);

    @include mq($from: tablet) {
      max-width: 480px;
    }

    @include mq($from: desktop) {
      max-width: 100%;
      width: inherit;
    }

    &:hover {
      background-color: #F1EBDB;
      color: color(black)
    }
  }
